.header_container {
    display: flex;
    /* width: 85%; */
    justify-content: space-between;
    align-items: center;
    background-color: hsl(264, 40%, 10%);
    height: 60px;
    /* position: fixed;
    top: 0;
    z-index: 2; */
}

.header_left {
    display: flex;
    width: 615px;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
}

.icon_header {
    font-size: 15px;
    color: #DADADA;
}

.icon_header:hover {
    opacity: 0.8;
    cursor: pointer;
}

.arrow_icon .arrow_left {
    margin-right: 5px;
}

.header_search {
    border-radius: 45px;
    background-color: #3c3447;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.search_icon {
    font-size: 17px;
    color: #C6C4CA;
}

.search_icon:hover {
    opacity: 0.8;
    cursor: pointer;
}

.search_fiel {
    width: 500px;
    height: 35px;
    border-radius: 45px;
    border: none;
    outline: none;
    color: white;
    background-color: #3c3447;
    padding-left: 15px;
}

.search_fiel::placeholder {
    color: #DADADA;
    font-size: 15px;
}

.header_right {
    width: 230px;
    display: flex;
    justify-content: space-between;
    margin-right: 36px;
    margin-left: 233px;
}

.border_circle {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #2F2739;
    display: flex;
    justify-content: center;
    align-items: center;
}

.personall {
    top: 58px;
    position: absolute;
    background-color: #422d60;
    width: 270px;
    z-index: 2;
    left: 1078px;
    border-radius: 2%;
    color: white;
    height: 288px;
    display: none;
}

#personall a{
    text-decoration: none;
    color: white;
}

.imgbxx {
    display: flex;
    align-items: center;
    padding: 10px;
}

.img_person {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 15px;
}

.basic_name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.basic_name h4 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 0;
}

.basic_name div {
    display: inline-block;
    background-color: #6d5c806c;
    color: white;
    padding: 4px 17px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}

.updated {
    background-color: #6d5c806c;
    margin-top: 10px;
    border-radius: 20px;
    width: 80%;
    margin-left: 25px;
    text-align: center;
    padding: 6px;
    margin-bottom: 12px
}

.hr {
    border: 0;
    height: 0.4px;
    background-color: rgba(227, 230, 231, 0.8);
    margin: 15px;
}

.para {
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 1em;
}

.para ion-icon {
    margin-right: 10px;
}

.header_right .border_circle:hover+.personall {
    display: block;
}


/* phần đăng nhập */
.update_personal {
    top: 26px;
    position: absolute;
    background-color: #9B4DE0;
    border-radius: 20px;
    width: 80%;
    text-align: center;
    padding: 10px;
    margin-left: 27px;
}
.card_ct {
    background-color: #dfdfca;
    width: 214px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 82px;
    margin-left: 28px;
}

.card_ct h2 {
    font-size: 1.1rem;
    color: rgb(238, 156, 23);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_ct .tag {
    background-color: rgb(238, 156, 23); 
    color: #fff;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 0.9rem;
}

.price_zing {
    font-weight: bold;
    color: black;
    margin: 5px 0;
}

.pha {
    margin-bottom: 13px;
    color: gray;
    font-size: 0.8rem;
}

.button_zing {
    background-color: rgb(238, 156, 23);
    color: #fff;
    border: none;
    padding: 6px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; 
    border-radius: 20px;
}

.button_zing:hover {
    background-color: #7d52c1; 
}

#logoutbtn {
    cursor: pointer;
}